/* ==================================================================== */
/* ==================================================================== */
/* ==================================================================== */
#lesson-header {
    width: 100%;
    height: 100vh;
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 66%, rgba(0, 0, 0, 0.3)), url('../img/background/header_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: middle;
    background-attachment: fixed;
    overflow: hidden;
}


/* ------------------------------------------------------- */
#lesson-header .header-navbar {
    z-index: 2;
    width: 1700px;
    max-width: 100%;
    height: fit-content;
    top: 36px;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: 2px solid var(--navbar-border-color);
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(45deg, var(--navbar-background-color-1), var(--navbar-background-color-2));
    animation: navbarFloatIn ease-in-out 1.4s;
}

/* ------------------------------------------------------- */


/* ------------------------------------------------------- */
.header-navbar .header-navbar__logo {
    width: 140px;
    height: 48px;
    margin-right: 4px;
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;
}

/* ------------------------------------------------------- */


/* ------------------------------------------------------- */
.header-navbar .navbar-list {
    list-style: none;
}

.header-navbar .navbar-list .navbar-list__item a {
    font-size: 1.6rem;
    display: inline-block;
    color: var(--white-color);
    text-decoration: none;
    text-align: center;
    width: 140px;
    height: 48px;
    line-height: 48px;
    border-radius: 10px;
    transition: all ease-in-out .3s;
}

.header-navbar .navbar-list .navbar-list__item a:hover {
    background-color: var(--navbar-btn-hover-color);
}

.header-navbar .navbar-list .navbar-list__item a:hover p {
    scale: 1.1;
}

.header-navbar .header-navbar__list-nav .navbar-list .navbar-list__item:last-child a {
    width: 160px;
}

/* ------------------------------------------------------- */


/* ------------------------------------------------------- */
.header-navbar .header-navbar__search {
    margin-right: 140px;
    margin-left: 80px;
}

.header-navbar .header-navbar__search .navbar-input {
    font-size: 1.4rem;
    color: var(--white-color);
    height: 36px;
    width: 300px;
    border: none;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.4);
}

.header-navbar .header-navbar__search .navbar-btn-search {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    color: var(--white-color);
    border: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 36px;
    width: 36px;
    top: 0;
    right: 0;

}

.header-navbar .header-navbar__search .navbar-btn-search:hover {
    cursor: pointer;
}

/* ------------------------------------------------------- */


/* ------------------------------------------------------- */
.header-navbar .header-navbar__cart-regis .navbar-regis {
    margin-right: 28px;
}

.header-navbar .header-navbar__cart-regis .navbar-cart,
.header-navbar .header-navbar__cart-regis .navbar-regis {
    display: inline-block;
}

.header-navbar .header-navbar__cart-regis .navbar-cart .navbar-cart__icon {
    color: var(--white-color);
    text-decoration: none;
    font-size: 2rem;
    line-height: 48px;
    margin-right: 28px;
    cursor: default;
}

.header-navbar .header-navbar__cart-regis .navbar-cart .navbar-cart__icon i:hover {
    opacity: 0.6;
    cursor: pointer;
}

.header-navbar .header-navbar__cart-regis .navbar-cart .navbar-cart__icon:hover+.navbar-cart__box,
.header-navbar .header-navbar__cart-regis .navbar-cart .navbar-cart__box:hover {
    display: block;
    animation: navbarBoxAppear ease-in-out .4s;
    cursor: pointer;
}

.header-navbar .header-navbar__cart-regis .navbar-cart__box i {
    color: var(--white-color);
    font-size: 1.8rem;
    /* top: 10px; */
    right: 32px;
    margin-top: -20px;
}

.header-navbar .header-navbar__cart-regis .navbar-cart__box .navbar-cart__list {
    font-size: 1.6rem;
    background-color: var(--white-color);
    border-radius: 8px;
    text-align: center;
    width: 340px;
    height: 320px;
    /* top: 18px; */
    margin-top: -10px;
    right: 2px;
    justify-content: center
}

/* ------------------------------------------------------- */


/* ------------------------------------------------------- */
#lesson-header h1 {
    font-size: 6vh;
    line-height: 8.5rem;
    letter-spacing: 1.4rem;
    padding-top: 80px;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(40deg, var(--title-header-color-1) 25%, var(--title-header-color-2));
    -webkit-background-clip: text;
    background-clip: text;
    animation: titleHeaderH1 ease-in-out 2s;
}

/* ------------------------------------------------------- */


/* ------------------------------------------------------- */
#lesson-header .header-img-middle {
    z-index: 1;
    width: 360px;
    top: 50%;
    bottom: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(0);
    animation: headerImgFloatIn ease 1.8s;
}

#lesson-header .header-best-saler {
    width: 100%;
    height: 50%;
    z-index: 1;
    top: 50%;
    bottom: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%);
    justify-content: space-between;
}

#lesson-header .header-best-saler .best-saler__food {
    margin-right: 300px;
}

#lesson-header .header-best-saler .best-saler__drink {
    margin-left: 300px;
}

#lesson-header .header-best-saler .best-saler-title {
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 56px;
}

#lesson-header .header-best-saler .best-saler-title img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin: 0 12px;
}

#lesson-header .header-best-saler .best-saler-title h2 {
    font-size: 3rem;
    font-weight: 500;
    line-height: 56px;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(40deg, var(--title-header-color-1) 25%, var(--title-header-color-2));
    -webkit-background-clip: text;
    background-clip: text;
}

#lesson-header .header-best-saler .best-saler-list .best-saler-list__item {
    align-items: center;
    margin: 30px 0;
    width: 500px;
    height: 80px;
    border-radius: 40px;
    background-color: var(--white-color);
    cursor: pointer;
}

#lesson-header .header-best-saler .best-saler__food .best-saler-list .best-saler-list__item {
    animation: bestSalerListFloatInLeft ease-in-out 3s;
}

#lesson-header .header-best-saler .best-saler__drink .best-saler-list .best-saler-list__item {
    animation: bestSalerListFloatInRight ease-in-out 3s;
}

#lesson-header .header-best-saler .best-saler-list .best-saler-list__item .img-list {
    opacity: 1;
    width: 110px;
    height: 110px;
}

#lesson-header .header-best-saler .best-saler__food .best-saler-list .best-saler-list__item .img-list {
    right: 0;
    animation: bestSalerImgListLeft ease-in-out 3.5s;
}

#lesson-header .header-best-saler .best-saler__drink .best-saler-list .best-saler-list__item .img-list {
    left: 0;
    animation: bestSalerImgListRight ease-in-out 3.5s;
}

#lesson-header .header-best-saler .best-saler-list .best-saler-list__item:hover .img-list {
    scale: 1.1;
    transition: all ease-in-out 0.3s;
}

#lesson-header .header-best-saler .best-saler-list .best-saler-list__item:hover ~ .header-img-middle {
    transform: rotate(20deg);
    transition: all ease-in-out 0.2s;
}

#lesson-header .header-best-saler .best-saler__drink .best-saler-list .best-saler-list__item {
    flex-direction: row-reverse;
}

#lesson-header .header-best-saler .best-saler-list .best-saler-list__item .img-logo-food {
    vertical-align: middle;
    height: 100%;
    width: 80px;
    margin: 0 12px;
}

#lesson-header .header-best-saler .best-saler-list .best-saler-list__item .product {
    width: 300px;
    height: 80px;
}

#lesson-header .header-best-saler .best-saler-list .best-saler-list__item .product h3 {
    color: #eb2f06;
    font-size: 2rem;
    font-weight: 600;
    margin: 8px 0;
}

#lesson-header .header-best-saler .best-saler-list .best-saler-list__item .product .sub-title {
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 6px;
}

#lesson-header .header-best-saler .best-saler-list .best-saler-list__item .product .price {
    font-size: 1.8rem;
    font-weight: 700;
}
/* ------------------------------------------------------- */


/* ------------------------------------------------------- */
#lesson-header .header-best-saler--mobile {
    height: 40%;
    width: 100%;
}

#lesson-header .header-best-saler--mobile .best-saler-list {
    margin-top: 12px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#lesson-header .header-best-saler--mobile .best-saler-list .best-saler-list__item {
    display: flex;
    background-image: linear-gradient(30deg, var(--navbar-background-mobile-color-1) 10%, #f62682);
    height: 70px;
    width: 95%;
    margin-bottom: 28px;
    border-radius: 40px;
    animation: bestSalerItemAppear ease-in-out 3s;
    overflow: hidden;
}

#lesson-header .header-best-saler--mobile .best-saler-list .best-saler-list__item .img-list {
    width: 70px;
    height: 70px;
}

#lesson-header .header-best-saler--mobile .best-saler-list .best-saler-list__item .img-list:first-child {
    left: 0;
    top: 0;
    animation: bestSalerImgListRight ease-in-out 3s;
}

#lesson-header .header-best-saler--mobile .best-saler-list .best-saler-list__item .img-list:last-child {
    right: 0;
    top: 0;
    animation: bestSalerImgListLeft ease-in-out 3s;
}

#lesson-header .header-best-saler--mobile .best-saler-list .best-saler-list__item .img-logo-food {
    width: 70px;
    height: 70px;
    margin-left: 70px;
}

#lesson-header .header-best-saler--mobile .best-saler-list .best-saler-list__item .product {
    width: 45%;
}

#lesson-header .header-best-saler--mobile .best-saler-list .best-saler-list__item .product h3 {
    font-size: 1.4rem;
    font-weight: 700;
    margin: 4px 0;
}

#lesson-header .header-best-saler--mobile .best-saler-list .best-saler-list__item .product .sub-title {
    margin-bottom: 4px;
}

#lesson-header .header-best-saler--mobile .best-saler-list .best-saler-list__item .product .price {
    font-size: 1.6rem;
    font-weight: 700;
}
/* ------------------------------------------------------- */
