/* ==================================================================== */
/* ==================================================================== */
/* ==================================================================== */
#lesson-header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 66%, rgba(0, 0, 0, 0.3)), url('../img/background/header_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: middle;
    text-align: center;
}

/* ------------------------------------------------------- */
#lesson-header .header-navbar {
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    max-width: 100%;
    height: 28px;
    /* overflow: hidden; */
    top: 24px;
    right: 50%;
    left: 50%;
    background-color: var(--navbar-background-color);
    transform: translate(-50%, -50%);
    border-radius: 10px;
    animation: navbarFloatIn ease-in-out 1.2s;
    z-index: 2;
    border: 2px solid rgba(214, 48, 49, 0.2);
}

@keyframes navbarFloatIn {
    from {
        top: -24px;
    }

    to {
        top: 24px;
    }
}

/* ------------------------------------------------------- */

/* ------------------------------------------------------- */
.header-navbar .navbar-list {
    list-style: none;
}

.header-navbar .navbar-list .navbar-list__item a {
    display: inline-block;
    color: var(--white-color);
    text-decoration: none;
    text-align: center;
    width: 76px;
    height: 28px;
    line-height: 28px;
    border-radius: 10px;
    transition: all ease-in-out .3s;
}

.header-navbar .navbar-list .navbar-list__item a:hover {
    background-color: var(--navbar-btn-hover-color);
}

.header-navbar .navbar-list .navbar-list__item a:hover p {
    scale: 1.1;
}

.header-navbar .header-navbar__left--nav .navbar-list .navbar-list__item:last-child a {
    width: 100px;
}

/* ------------------------------------------------------- */

/* ------------------------------------------------------- */
.header-navbar .navbar-logo {
    display: inline-block;
    vertical-align: middle;
    width: 48px;
    height: 28px;
    margin-right: 4px;
    border-radius: 10px;
}

/* ------------------------------------------------------- */

/* ------------------------------------------------------- */
.header-navbar .header-navbar__middle--search {
    margin-right: 100px;
}

.header-navbar .header-navbar__middle--search .navbar-input {
    font-size: 1rem;
    color: var(--white-color);
    height: 20px;
    width: 200px;
    /* outline: 1px solid var(--black-color); */
    border: none;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.4);
}

.header-navbar .header-navbar__middle--search .navbar-btn-search {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    color: var(--white-color);
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 20px;
    width: 24px;
    top: 0;
    right: 0;

}

.header-navbar .header-navbar__middle--search .navbar-btn-search:hover {
    cursor: pointer;
}

/* ------------------------------------------------------- */

/* ------------------------------------------------------- */
.header-navbar .header-navbar__right--cart-regis .navbar-cart,
.header-navbar .header-navbar__right--cart-regis .navbar-regis {
    display: inline-block;
}

.header-navbar .header-navbar__right--cart-regis .navbar-cart a {
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.2rem;
    margin-right: 18px;
}

.header-navbar .header-navbar__right--cart-regis .navbar-cart a:hover {
    opacity: 0.6;
}

.header-navbar .header-navbar__right--cart-regis .navbar-cart a:hover+.navbar-cart__box,
.header-navbar .header-navbar__right--cart-regis .navbar-cart .navbar-cart__box:hover {
    display: block;
    animation: navbarBoxAppear ease-in-out .4s;
}

@keyframes navbarBoxAppear {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header-navbar .header-navbar__right--cart-regis .navbar-cart__box i {
    color: var(--white-color);
    font-size: 16px;
    /* top: 10px; */
    right: 18px;
    margin-top: -8px;
    cursor: pointer;
}

.header-navbar .header-navbar__right--cart-regis .navbar-cart__box .navbar-cart__list {
    background-color: var(--white-color);
    border-radius: 8px;
    text-align: center;
    width: 180px;
    height: 200px;
    /* top: 18px; */
    right: 2px;
    cursor: pointer;
}

/* ------------------------------------------------------- */

/* ------------------------------------------------------- */
#lesson-header h1 {
    padding-top: 48px;
    font-size: 3.4rem;
    text-transform: uppercase;
    line-height: 5rem;
    letter-spacing: 0.8rem;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(45deg, #6a5af9 10%, #f62682);
    -webkit-background-clip: text;
    background-clip: text;
    animation: titleHeaderH1 ease-in-out 2s;
}

@keyframes titleHeaderH1 {
    from {
        opacity: 0;
        letter-spacing: 0;
        -webkit-text-fill-color: transparent;
        background: -webkit-linear-gradient(45deg, #7163f6 10%, #f33389);
        -webkit-background-clip: text;
        background-clip: text;
    }

    to {
        opacity: 1;
        letter-spacing: 0.8rem;
        -webkit-text-fill-color: transparent;
        background: -webkit-linear-gradient(45deg, #6a5af9 10%, #f62682);
        -webkit-background-clip: text;
        background-clip: text;
    }
}

/* ------------------------------------------------------- */

/* ------------------------------------------------------- */
#lesson-header .header-img-middle {
    width: 260px;
    top: 50%;
    bottom: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(0);
    animation: headerImgFloatIn ease 1.8s;
}

@keyframes headerImgFloatIn {
    from {
        opacity: 0;
        transform: translate(-50%, 0) rotate(120deg);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0);
    }
}
/* ------------------------------------------------------- */